
<section class="qr-scanner">
  <v-dialog v-model="dialog" fullscreen persistent scrollable>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title small class="ml-4" >Scan QR code</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon flat @click="closeDialog(false)">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <div class="text-xs-center">
          <qrcode-stream v-if="selectedTab == 1" :camera="dialog ? 'auto' : 'off'" track @decode="onDecode" />
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>

