
<section class="search-wallet">
    <v-dialog dark v-model="show" scrollable max-width="500" persistent>
        <v-card class="primary darken-2">
          <v-toolbar dark color="primary">
            <v-toolbar-title class="headline text-uppercase">Search wallet</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon flat @click="$emit('close'); walletName = null">
              <v-icon :color="$route.meta.accent">
                close
              </v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-form @submit.prevent="$emit('close', walletName); walletName = null" >
              <v-layout justify-space-between fill-height column>
                <v-text-field v-model="walletName" box label="Walletname" :color="$route.meta.accent"/>
                <v-flex>
                  <v-layout align-end justify-end row fill-height>
                    <v-btn type="submit" outline round flat :color="$route.meta.accent">Save</v-btn>
                  </v-layout>
                </v-flex>
            </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
</section>

