.overlay {
    backdrop-filter: blur(6px);
}

.devv {
    position: fixed;
    top: 0;
    right: 0;
    height: 2rem;
    width: 2rem;
    color: #f5f5f5;
}

div {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-weight: bold;
    font-size: 1.6rem;
    padding-top: 1rem;
}

.subtitle {
    font-size: 1.3rem;
}
