<v-dialog v-model="dialog" persistent max-width="290">
  <template v-slot:activator="{ on }">
    <v-btn text class="px-0" style="color: #C62828;" v-on="on">
      <v-icon small class="danger mr-1">fas fa-trash</v-icon> Delete wallet
    </v-btn>
  </template>
  <v-card>
    <v-card-title class="headline">test?</v-card-title>
    <v-card-text>test text.</v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
      <v-btn color="green darken-1" text @click="deleteWallet">Agree</v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>