<section class="transfer fill-height" ref="transfer">
  <v-dialog v-model="qrReadingError" fullscreen persistent scrollable>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="text-capitalize">Wrong QR</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon text @click="qrReadingError = false">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <p>There was an error with the QR.</p>
        <p>Couldn't find the needed data</p>
      </v-card-text>
    </v-card>
  </v-dialog>
  <v-col>
    <v-row class="div-toggle-buttons" justify="center">
      <v-btn-toggle dense v-model="selectedTab" mandatory class="round">
        <v-btn text v-for="tab in tabs" :key="tab" class="px-5 round" exact :to="{query:{tab: tab}}">{{tab}}
        </v-btn>
      </v-btn-toggle>
    </v-row>

    <v-row dense class="pr-2 pt-1" justify="end">
        <v-btn v-if="active == 'send'" small icon @click="scanQR()">
          Scan QR
          <v-icon class="ml-2">fas fa-qrcode</v-icon>
        </v-btn>
        <v-btn v-else small icon @click="scanQR()" style="visibility: hidden">
            Scan QR
            <v-icon class="ml-2">fas fa-qrcode</v-icon>
          </v-btn>
    </v-row>
    
    <v-row dense>
      <v-col dense>
        <v-select class="mt-1 pt-0" @change="selectWallet" :items="computedWallets" v-model="selectedWallet" return-object>
          <template slot="selection" slot-scope="data">
            <v-flex class="text-capitalize">
              {{ data.item.name }}
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex justify-end class="text-xs-right">
              {{ data.item.totalAmount }} {{data.item.currency}}
            </v-flex>
          </template>
          <template slot="item" slot-scope="data">
            <v-flex class="text-capitalize">
              {{ data.item.name }}
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex justify-end class="text-xs-right">
              {{ data.item.totalAmount }} {{data.item.currency}}
            </v-flex>
          </template>
        </v-select>
      </v-col>
    </v-row>

    <FormComponent ref="formComponent" :formObject="formObject" :selectedTab="selectedTab" :investments="investments"
      :wallets="wallets" :selectedWallet="selectedWallet" @formValidation="formValidation($event)" :fee="fee">
    </FormComponent>

    <v-row>
      <v-col>
        <span v-if="$route.query.tab != 'receive'">Fee: {{fee.toFixed(2)}} {{selectedWallet.currency}}</span>
        <v-btn class="mx-0 mt-3" style="width: 100%;" color="accent" @click="transferConfirmed"
          :disabled="!formObject.amount">
          <div v-if="$route.query.tab === 'receive'">
            Generate QR
          </div>
          <div v-if="$route.query.tab === 'send'">
            Send Tokens
          </div>
        </v-btn>
      </v-col>
    </v-row>
  </v-col>
  <TransactionInfoDialog :dialog="transactionInfoDialog" :closeDialog="closeTransactionInfoDialog"
    :selectedTab="selectedTab" :wallets="wallets" :send="send" :selectedWallet="selectedWallet"
    :selectWallet="selectWallet" :formObject="formObject" v-if="selectedWallet.address" :fee="fee">
  </TransactionInfoDialog>

  <QrScannerDialog :dialog="qrScannerDialog" :closeDialog="closeQrScannerDialog" :selectedTab="selectedTab"
    :formObject="formObject"></QrScannerDialog>

  <QrDialog :dialog="qrDialog" :closeDialog="closeQrDialog" :formObject="formObject" :selectedWallet="selectedWallet"
    :selectedTab="selectedTab"></QrDialog>

</section>