@import '../../App/App.scss';
.wallet-card {
  .content {
    height: 100%;
    // background: var(--primary-color);
    overflow: hidden;
    // box-shadow: inset 0px 0px 0px 4px var(--active-color);
    // &.gft-image{
    //   &::before {
    //     background-image: url(https://picsum.photos/id/943/3000/2002);
    //   }
    // }
    // &.tft-image{
    //   &::before {
    //     background-image: url(https://picsum.photos/id/795/500/180);
    //   }
    // }
    // &.gram-image{
    //   &::before {
    //     background-image: url(https://picsum.photos/id/413/2666/1500);
    //   }
    // }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-image: url(https://picsum.photos/id/791/500/180);
      filter: opacity(0.5);
      // background-repeat: no-repeat;
      // background-size: cover;
    }
    .content-inner {
      position: relative;
    }
  }
  .turn {
    transform: rotate(-45deg);
  }
  .min {
    min-width: 275px;
  }

  .border::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // border: 2px solid ;
    
    box-shadow: inset 0px 0px 0px 4px var(--primary-color);
    box-sizing: border-box;
    border-radius: $borderradius;
  }
  .overlay-card {
    position: absolute; 
    width: 100%; 
    top: 0; 
    left: 0; 
    height: 100%; 
    font-weight: 400;
    white-space: normal;
  }
}
