<section class="wallet-card">
  <v-card :class="` min ${(selected && authenticated) ? 'border' : ''}`">
    <div ref="card" class="content" :style="clickable ? 'cursor:pointer' : ''" @click="clicked">
      <v-layout class="pa-1 content-inner">
        <v-flex :class="displayAttributes ? 'xs6' : 'xs6'">
          <v-layout column class="pt-2 pl-2">
            <p>
              <span class="title text-capitalize">{{wallet ? wallet.name : 'Wallet name'}}</span>
              <span style="font-size: 9px; color: gray;">{{wallet.holder.type === 'imported' ? " imported" : ''}}</span>
              <br />
              <span v-if="displayAttributes" class="body-1 text-truncate">{{getHumanWalletAddress}}</span>

            </p>

          </v-layout>
        </v-flex>
        <v-flex v-if="!!clickable && !!authenticated" :class="clickable ? 'xs6' : ''">
          <v-layout column class="justify-space-between  align-end">
            <v-flex v-if="displayAttributes" class="badge-top accent">
              <v-btn dark small icon text @click.stop="copyAddress" class="px-3 align-self-end badge-top ma-0"
                style="z-index: 1;" :class="$route.meta.accent" v-show="wallet.currency != 'gram'">
                <v-icon size="15">
                  file_copy
                </v-icon>
              </v-btn>

            </v-flex>
            <v-flex class="mr-1" v-if="displayAmount">
              <AmountIndicator v-if="displayAttributes" class="pr-2 pt-1" :amount='totalAmount'
                :valuta='wallet.currency' :locked="wallet.totalLocked" :unconfirmed="wallet.totalUnconfirmed" />
              <AmountIndicator v-else class="pl-3 pr-2 pt-1" :amount='totalAmount' :valuta='wallet.currency' small
                :locked="wallet.totalLocked" :unconfirmed="wallet.totalUnconfirmed" />

            </v-flex>
          </v-layout>
        </v-flex>
        <div v-else>
          <div class="overlay-card" style="opacity: 0.7; background-color: black;">
          </div>
          <div class="overlay-card">
            <v-layout align-center justify-center row fill-height px-4>
              <div>
                Not authorized for Gold transactions.
                Please contact us at onboarding@nbh-digital.com
              </div>
            </v-layout>
          </div>
        </div>
      </v-layout>
    </div>
  </v-card>
</section>