<section class="history-card">
  <v-card ripple
    :class="`mb-2 clickable ${!transaction.confirmed ? 'grey lighten-1' : ''} ${outgoing ? 'outgoing' : 'incoming'}`"
    @click="show = true">
    <v-card-text class="pb-1">
        <v-flex cols="3" class="mb-1">
          <v-layout column>
            <span class=" text-uppercase text-truncate ">{{outgoing? receiver : sender}}</span>
          </v-layout>
        </v-flex>
        <v-flex>
          <v-layout row wrap>
            <v-flex>
              <span class="font-weight-light text-truncate" v-if="transaction.message">{{transaction.message}}</span>
            </v-flex>
            <v-flex>
              <v-layout justify-end>
                <amountIndicator :color="outgoing? 'error' : 'accent'" :amount='amount' :valuta='valuta'
                  :small='smallAmount' />
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
    </v-card-text>
  </v-card>

  <v-dialog scrollable v-model="show" v-if="show" fullscreen>
    <v-card>
      <v-toolbar dark color="primary">
        <v-toolbar-title class="ml-4 text-capitalize">

          Transaction info
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon flat @click="show = false">
          <v-icon>
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-layout justify-space-between fill-height column text-xs-center>
          <v-flex class="my-3">
            <v-layout row wrap justify-space-around>
              <v-flex xs5>
                <v-avatar>
                  <v-icon class="primary" color="white">person</v-icon>
                </v-avatar>
                <p class="body-1 pt-2 text-truncate">{{sender}}</p>
              </v-flex>
              <v-flex xs2>
                <v-avatar>
                  <v-icon size="25">keyboard_arrow_right</v-icon>
                </v-avatar>
              </v-flex>
              <v-flex xs5>
                <v-avatar>
                  <v-icon class="primary" color="white">person</v-icon>
                </v-avatar>
                <p class="body-1 pt-2 text-truncate">{{receiver}}</p>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <p class="subtitle mb-0 grey--text">Date</p>
            <p class="title mt-0">{{timeStamp | formatDate}} </p>
          </v-flex>
          <v-flex>
            <p class="subtitle mb-0 grey--text">Amount <span
                v-if="outgoing && transaction.outputs.some(x => x.is_fee)">(fee incl)</span></p>
            <p class="title mt-0">{{amountModal}}</p>
          </v-flex>
          <v-flex>
            <p v-if="outgoing && transaction.outputs.some(x => x.is_fee)" class="subtitle mb-0 grey--text">Fee</p>
            <p v-if="outgoing && transaction.outputs.some(x => x.is_fee)" class="title mt-0">{{fee}}</p>
          </v-flex>
          <v-flex>
            <p v-if="transaction.message" class="subtitle mb-0 grey--text">Message</p>
            <p v-if="transaction.message" class="title mt-0">{{transaction.message}}</p>
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>
