.v-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.v-application .title {
    font-size: 4vw !important;
    line-height: 4vw !important;
}

.v-card__text {
    font-size: 4vw;
    line-height: 4vw;
}

.v-application .body-1 {
    font-size: 3vw !important;
}

.v-btn--icon.v-size--default .v-icon {
    font-size: 5vw !important;
}

@media screen and (min-width: 1000px) {
    .v-btn--icon.v-size--default .v-icon {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 500px) {
    .v-card__text {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
    .v-application .title {
        font-size: 1.25rem !important;
        line-height: 1.25rem !important;
    }
    .v-application .body-1 {
        font-size: 0.8rem !important;
        line-height: 1rem !important;
    }
}

@media screen and (min-width: 800px) {
    .v-card__text {
        font-size: 2rem;
        line-height: 2rem;
    }
    .v-application .title {
        font-size: 2rem !important;
        line-height: 2rem !important;
    }
    .v-application .body-1 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
    }
}
.payment-dialog {
    padding: 0;
}
.payment-header {
    background: #4a5c70;
    color: white;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
