<v-dialog scrollable fullscreen v-model="payment">
  <v-card class="payment-dialog">
    <v-card-title style="background-color:#34495e; color:white" dense>
      Transaction details
      <v-spacer></v-spacer>
      <v-btn text icon @click="close">
        <v-icon :color="$route.meta.accent">
          fa-times
        </v-icon>
      </v-btn>
    </v-card-title>
    <v-card-text style="padding: 0;">

      <v-row>
        <v-col justify="center" align="center" class="payment-header">
          <b class="my-1">{{payment.outgoing ? '-' : '+'}} {{payment.amount | formatBalance}} <sup>TFT</sup></b>
          <small style="font-size: small;" v-if="payment.outgoing">0.1 <sup>TFT</sup> fee excluded</small>
          <span class="my-1" style="font-size: 1rem; ;width: 58vw; display: block;">{{payment.to | readableAddress}}</span>

        </v-col>
      </v-row>

      <v-row class="px-6 pt-2">
        <v-col>
          <p class="subtitle mb-0 grey--text">Date</p>
          <p class="title mt-0">{{payment.created_at | formatDate }}</p>

          <p class="subtitle mb-0 grey--text">{{payment.outgoing ? 'To' : 'From'}}</p>
          <p class="title mt-0">{{payment.outgoing ? payment.to : payment.from | readableAddress}}</p>

          <p v-if="memo" class="subtitle mb-0 grey--text">Message</p>
          <p v-if="memo" class="title mt-0">{{memo}}</p>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</v-dialog>