
<section class="investments fill-height">
    <v-layout column fill-height>
        <div class="cheat"></div>
        <div class="content" v-if="wallets.length">
            <walletCard  no-padding class="my-2" clickable v-for="(wallet, index) in wallets" :key='index' :wallet="wallet" @click="seeHistory(wallet)"/>
        </div>
        <div v-if="!wallets.length" class='fill-height'>
            <v-layout justify-center align-center fill-height column>
                <v-progress-circular
                    :size="70"
                    :width="10"
                    color="accent"
                    indeterminate
                />
                <p class="pt-3">
                    Loading wallets...
                </p>
            </v-layout>
        </div>
    </v-layout>
</section>

