
<section class="transaction-info-dialog">
  <v-dialog v-model="dialog" max-width="500" persistent>
    <v-card style="height:100%">
      <v-toolbar dark color="primary">
        <v-toolbar-title class="text-uppercase">
          <v-icon>
            info
          </v-icon>
          Transaction info
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon flat @click="closeDialog(false)">
          <v-icon>
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-layout fill-height column>
          <v-layout justify-space-between fill-height column px-2>
            <p v-if="selectedTab == 1" class="subtitle mb-0 grey--text">From</p>
            <walletSelector @onWalletSelected='selectWallet' :wallets="wallets" :selected="selectedWallet.name" v-if="$route.query.tab == 'receive'"/>
            <walletCard  no-padding class="my-2" :wallet="selectedWallet" v-else/>
            <v-flex>
              <p class="subtitle mb-0 grey--text">To</p>
              <div v-if="!wallets.find(x=>x.address==formObject.to.address)">
                <p class="title mt-0 text-truncate">{{formObject.to.address}}</p>
              </div>
              <walletCard no-padding class="my-2" :wallet="wallets.find(x=>x.address==formObject.to.address)" v-else/>
            </v-flex>
            <v-flex>
              <p class="subtitle mb-0 grey--text">Amount</p>
              <p class="title mt-0">{{formObject.amount}}</p>
            </v-flex>
            <v-flex>
              <p class="subtitle mb-0 grey--text">Message</p>
              <p class="title mt-0">{{formObject.message}}</p>
            </v-flex>
          </v-layout>
          <v-btn @click="closeDialog(true)" class="accent">
            Confirm
          </v-btn>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>

