<section class="details fill-height">
  <header>
    <v-container>
      <v-row>
        <v-col>
          <h2 class="text-capitalize">{{account.name}} <span v-for="tag in account.tags"
              class="font-weight-light fa-xs ml-1">{{tag}}</span></h2>
          <span>{{getHumanWalletAddress}}</span>
          <br>
        </v-col>
        <v-col>
          <Balance class="pl-3 pr-2 pt-1 mr-2" small :balances="account.balances" />
        </v-col>
      </v-row>
    </v-container>
  </header>
  <v-list three-line class="pa-0 payment-list">
    <template v-for="payment, i  in accountPayments" >
      <div class="date" v-if="showDate(payment, i)">
        <span>
        {{payment.created_at | formatDay}}
        </span>
        <v-divider></v-divider>
      </div>

    <paymentItem :key="payment.id" :payment="payment"  class="payment-item"
      @click.stop='selectedPayment = payment' />
    </template>
  </v-list>
  <span class="info-payments" v-if="accountPayments.length > 20">Only last 200 payments are shown</span>
  <paymentDialog v-if="selectedPayment" :payment="selectedPayment" @closed="selectedPayment = null" />
</section>