header {
    background: lighten( #2d4052, 20);
    color: white;
}

span {
    font-size: 2.4vw;
    word-break: break-all
}

@media screen and (max-width: 600px) {
    span {
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 960px) {
    span {
        font-size: 23px;
    }
}