
<section class="information-dialog">
  <v-dialog scrollable v-model="dialog" fullscreen persistent>
    <v-card class="primary darken-2">
      <v-toolbar dark color="primary" dense>
        <v-toolbar-title class="ml-4 text-capitalize"><h2 class="title">Information</h2></v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon text @click="closeDialog(false)">
          <v-icon color="accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <div>
          <div>{{$route.meta.info.title}}</div>
          <div>{{$route.meta.info.text}}</div>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        </div>
        <div class="text-xs-center">
          <div>
            <v-btn dark fab class="center" :color="$route.meta.accent" @click="closeDialog">
              <v-icon>check</v-icon>
            </v-btn>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>

