@import '../../App/App.scss';
.v-card {
  border-radius: $borderradius !important;
}
.account-card {
  .content {
    height: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: opacity(0.5);
    }
    .content-inner {
      position: relative;
    }
  }
  .turn {
    transform: rotate(-45deg);
  }
  .min {
    // min-width: 275px;
  }

  .border::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // border: 2px solid ;

    box-shadow: inset 0px 0px 0px 4px var(--primary-color);
    box-sizing: border-box;
    border-radius: $borderradius;
  }
  .overlay-card {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: 400;
    white-space: normal;
  }
}
