<section class="account-card">
  <v-card :class="` min ${(selected) ? 'border' : ''}`">
    <div ref="card" class="content" :style="clickable ? 'cursor:pointer' : ''" @click="clicked">
      <v-layout class="pa-1 content-inner">
        <v-flex :class="displayAttributes ? 'xs6' : 'xs6'">
          <v-layout column class="pt-2 pl-2">
            <p>
              <span class="title text-capitalize">{{account ? account.name : 'Wallet name'}}</span>
              <span style="font-size: 9px; color: gray;">{{account.type === 'imported' ? " imported" : ''}}</span>
              <br />
              <span v-if="displayAttributes" class="body-1 text-truncate">{{getHumanWalletAddress}}</span>

            </p>

          </v-layout>
        </v-flex>
        <v-flex  :class="clickable ? 'xs6' : ''">
          <v-layout column class="justify-space-between  align-end">
            <v-flex v-if="displayAttributes" class="badge-top accent">
              <v-btn dark small icon text @click.stop="copyAddress" class="px-3 align-self-end badge-top ma-0"
                style="z-index: 1;" :class="$route.meta.accent">
                <v-icon size="15">
                  fas fa-copy
                </v-icon>
              </v-btn>

            </v-flex>
            <v-flex class="mr-1" v-if="displayAmount">
              <Balance v-if="displayAttributes" class="pr-2 pt-1" :balances="account.balances" />
              <Balance v-else class="pl-3 pr-2 pt-1" small :balances="account.balances"/>

            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </div>
  </v-card>
</section>