<v-card :class="`pr-0 min ${(selected) ? 'border' : ''}`" v-bind="$attrs">
  <div ref="card" class="content" :style="clickable ? 'cursor:pointer' : ''" @click="clicked">
    <v-layout class="content-inner">
      <v-flex class="xs8">
        <v-layout column class="pl-4 pt-4 pb-2 overflow-hidden">
          <p>
            <span class="title text-capitalize">{{account ? account.name : 'Wallet name'}}</span>
            <span v-for="tag in account.tags" class="font-weight-light fa-xs blue-grey--text ml-1">{{tag}}</span>
            <br />
            <span v-if="displayAttributes"
              class="body-1 text-truncate font-weight-light">{{getHumanWalletAddress}}</span>
          </p>
        </v-layout>
      </v-flex>
      <v-flex :class="clickable ? 'xs4' : ''">
        <v-layout column class="justify-space-between  align-end pb-2">
          <v-flex v-if="displayAttributes" class="badge-top accent">
            <v-btn dark small icon text @click.stop="copyAddress" class="px-3 align-self-end badge-top ma-0"
              style="z-index: 1;" :class="$route.meta.accent">
              <v-icon size="15">
                fas fa-copy
              </v-icon>
            </v-btn>
          </v-flex>
          <v-flex class="pr-4 pt-3" v-if="displayAmount">
            <Balance class="pl-3 pr-2 pt-1" small :balances="account.balances" :humanReadable="$attrs.humanReadable" />
            <Balance v-if="account.lockedBalances.length" class="pl-3 pr-2 pt-1 mr-2" small locked :balances='[{"balance":account.lockedBalance,"asset_code":"TFT"}]'/>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </div>
  <div class="drag">
    <div></div>
    <div></div>
    <div></div>
  </div>
</v-card>