@import '../../App/App.scss';
.toolbar {
    .v-toolbar {
        border-radius: 0 0 $borderradius $borderradius;
    }
    .v-btn--example {
        right: -10px;
    }
    .spinner {
        position: absolute;
        margin: 0 0 8px 8px;
        left: 0px;
        top: 5px;
    }
}