<section class="toolbar">
  <v-app-bar class="primary white--text text-capitalize" v-scroll="onScroll">
      <v-row align-center>
        <v-col cols="2">
          <v-btn text small fab dark :to='{name: "home"}' v-if="$route.name != 'home' && $route.name != 'login'">
            <v-icon flatclass="white--text">fas fa-arrow-left</v-icon>
          </v-btn>
        </v-col>
        <v-col justify-center  class="title  ">
            {{($route.meta.title || $route.name) || '3Bot'}}
            <v-progress-circular v-if="syncing" indeterminate size="12" :color="$route.meta.accent" />
        </v-col>
        <v-col cols="2" v-if="$route.name == 'home'" @click="seeAdd">
          <v-btn small text fab dark class="accent" >
            <v-icon>
              add
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
  </v-app-bar>
  <InformationDialog :dialog="informationDialog" :closeDialog="closeInformationDialog" v-if="$route.meta.info">
  </InformationDialog>
</section>