<section class="toolbar">
  <v-app-bar class="primary white--text text-capitalize"> 
    <v-row align="center">
      <v-btn text x-small fab dark @click='$router.push({name: "home"})'
        v-if="$route.name != 'home' && $route.name != 'login' && $route.name != 'init'">
        <v-icon flat class="white--text">fas fa-arrow-left</v-icon>
      </v-btn>
      <v-col>
        <h2 class="title" @click="addDevClick">
          {{($route.meta.title || $route.name) || '3Bot'}}
        </h2>
      </v-col>
        <v-btn text dark v-if="$route.name == 'home'" @click="seeAdd">
          Import Wallet
        </v-btn>
    </v-row>
  </v-app-bar>
</section>