<section class="home fill-height">
    <v-col fill-height>
        <v-text-field v-model="walletName" :error-messages="walletNameErrors" @input="walletNameErrors = []"
            class="red--text" label="Wallet name"></v-text-field>

        <v-textarea v-if="canShowSeed()" v-model="seed" label="Seed phrase" disabled>
        </v-textarea>

        <v-btn class="accent mb-1" @click="changeName()" style="width: 100%;">
            Change wallet name
        </v-btn>
        <br />
        <deleteWalletDialog v-bind:wallet=wallet v-if="isDeletableWallet()" />

    </v-col>

</section>