<section class="create-wallet">
  <v-dialog dark v-model="show" max-width="500">
    <v-card class="primary darken-2" style="height:100%">
      <v-toolbar dark color="primary">
        <v-toolbar-title class="headline text-uppercase">Create wallet</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text icon @click="$emit('ctaClicked'); walletName = null">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text>
        This will soon be available
        <!-- <v-form @submit.prevent="$emit('ctaClicked', walletName); walletName = null">
          <v-layout justify-space-between fill-height column>
            <v-text-field v-model="walletName" box label="Walletname" :color="$route.meta.accent" />
            <v-flex>
              <v-layout align-end justify-end row fill-height>
                <v-btn type="submit" outline round flat :color="$route.meta.accent">Save</v-btn>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-form> -->
      </v-card-text>
    </v-card>
  </v-dialog>
</section>