.to-dialog {
}
        .v-btn-toggle {
            position: relative;
            top: -8px;
            .v-btn{
                padding: 0 40px !important;
            }
        }
        .v-btn--active {
            background-color: var(--accent-color) !important;
            border-color: var(--accent-color) !important;
        }
        .wallet-card {
            cursor: pointer;
        }
        .remove-margin {
            margin: 0px !important;
        }
