
<section class="to-dialog">
  <v-dialog v-model="dialog" max-width="500" persistent>
    <v-card style="height:100%">
      <v-toolbar dark color="primary" dense>
        <!-- <v-toolbar-title class="text-uppercase"></v-toolbar-title> -->
        <v-spacer></v-spacer>
        <v-btn icon flat @click="closeDialog(false)">
          <v-icon color="accent">
            close
          </v-icon>
        </v-btn>
        <template v-slot:extension>
          <div class="text-xs-center" style="margin:auto;">
            <v-btn-toggle v-model="selected" dark active-class="red" mandatory class="primary round elevation-0">
              <v-btn flat class="px-5 my-1 mx-1 round" v-for="tab in tabs">{{tab.name}}</v-btn>
            </v-btn-toggle>
          </div>
          <!-- <div v-else style="width: 100%;">
            <v-select :items="tabs" 
              v-model="selected" item-text="name" item-value="value" label="To" color="white" 
              hide-selected hide-details dense single-line full-width style="top:-7px;"></v-select>
          </div> -->
        </template>
      </v-toolbar>
      <v-card-text>
        <div v-show="selected === 0">
          <div class="content" v-if="wallets.length">
            <div>
              <!-- last filter is needed until transactions between gft and tft are possible  && (x.currency == selectedWallet.currency)--> 
              <div v-for="(wallet, index) in wallets.filter(x => (x.currency === 'TFT' || x.currency === 'GFT') && (x.currency == selectedWallet.currency))" :key='index' >
                <v-hover>
                  <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                    <walletCard no-padding class="my-2 wallet-card remove-margin" @click="selectWallet(wallet)" :wallet="wallet" clickable/>
                  </v-card>
                </v-hover>
                </div>
            </div>
          </div>
        </div>

        <div v-show="selected === 1">
          <v-form ref="externForm" v-model="valid">
            <v-text-field box clearable prepend-icon="person" color="primary" label="To (Wallet Address)"
              v-model='externAddress' :rules="toRules"/>
          </v-form>
          <div class="text-xs-center">
            <div>
              <v-btn fab class="center" color="accent" @click="selectWallet({address: externAddress})" :disabled="!valid">
                <v-icon>check</v-icon>
              </v-btn>
            </div>
          </div>
        </div>

        <!-- <div v-show="selected === 2">
          <div class="content" v-if="wallets.length">
            <div>
              <div v-for="(wallet, index) in wallets.filter(x => x.currency === 'gram')" :key='index' >
                <v-hover>
                  <div slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                    <walletCard no-padding class="my-2 wallet-card" @click="selectWallet(wallet.address)" :wallet="wallet"/>
                  </div>
                </v-hover>
                </div>
            </div>
          </div>
        </div> -->
      </v-card-text>
    </v-card>
  </v-dialog>
</section>

