.to-dialog {
}
.v-btn--active {
    background-color: var(--active-color) !important;
    border-color: var(--active-color) !important;
    color: white !important;
}
.wallet-card {
    cursor: pointer;
}
.remove-margin {
    margin: 0px !important;
}