
<section class="to-dialog">
  <v-dialog v-model="dialog" fullscreen scrollable persistent>
    <v-card class="no-radius" >
      
      <v-toolbar dark color="primary" dense>
        <v-toolbar-title class="ml-4 text-capitalize">Select account</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon flat @click="closeDialog(false)">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
        <template v-slot:extension>
         
        </template>
      </v-toolbar>
      <v-card-text class="px-1" >
          <div class="text-xs-center mb-3" style="margin:auto;">
              <v-btn-toggle v-model="selected" dark active-class="red" mandatory class="primary round elevation-0">
                <v-btn flat class="px-3 my-1 mx-1 round" v-for="tab in tabs">{{tab.name}}</v-btn>
              </v-btn-toggle>
            </div>
          <!-- <div class="text-xs-center mb-3 div-toggle-buttons">
              <v-btn-toggle v-model="selectedTab" dark mandatory class="primary round elevation-0">
                <v-btn flat v-for="tab in tabs" :key="tab" class="px-5  round" exact :to="{query:{tab: tab}}">{{tab.name}}
                </v-btn>
              </v-btn-toggle>
            </div> -->

        <div v-show="selected === 0">
          <div class="content" v-if="wallets.length">
            <div>
              <!-- last filter is needed until transactions between gft and tft are possible  && (x.currency == selectedWallet.currency)--> 
              <div v-for="(wallet, index) in wallets.filter(x => (x.currency === 'TFT' || x.currency === 'GFT') && (x.currency == selectedWallet.currency))" :key='index'>
                <v-hover>
                  <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                    <walletCard no-padding class="my-2 wallet-card remove-margin" @click="selectWallet(wallet)" :wallet="wallet" clickable/>
                  </v-card>
                </v-hover>
              </div>
            </div>
          </div>
        </div>

        <div v-show="selected === 1">
          <v-form ref="externForm" v-model="valid">
            <v-text-field v-if="selected === 1" box clearable prepend-icon="person" label="To (Wallet Address)"
              v-model='externAddress' :rules="toRules" autofocus/>
              <v-text-field v-else box clearable prepend-icon="person" label="To (Wallet Address)"
              v-model='externAddress' :rules="toRules" />
          </v-form>
          <div class="text-xs-center">
            <div>
              <v-btn fab class="center" :color="$route.meta.accent" @click="selectWallet({address: externAddress})" :disabled="!valid">
                <v-icon>check</v-icon>
              </v-btn>
            </div>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>

