<section class="to-dialog">
  <v-dialog v-model="dialog" fullscreen scrollable persistent>
    <v-card class="no-radius">
      <v-card-title style="background-color:#34495e; color:white" dense>
        Search contact
        <v-spacer></v-spacer>
        <v-btn text icon @click="closeDialog(false)">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-card-title>
      <!-- <v-toolbar dark color="primary" dense>
        <v-toolbar-title class="text-uppercase">
          Search contact
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn text icon @click="closeDialog(false)">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar> -->

      <v-card-text class="px-3">
        <v-col>
          <v-row justify="center" class="mb-3">
            <v-btn-toggle v-model="selected" dense mandatory class="round elevation-0">
              <v-btn text class="px-3 my-1 mx-1 round" v-for="tab in tabs">{{tab.name}}</v-btn>
            </v-btn-toggle>
          </v-row>

          <v-row justify="center" v-show="selected === 0">
            <!-- last filter is needed until transactions between gft and tft are possible  && (x.currency == selectedWallet.currency)-->
            <div v-if="wallets.length"
              v-for="(wallet, index) in wallets.filter(x => (x.currency === 'TFT' || x.currency === 'GFT') && (x.currency == selectedWallet.currency))"
              :key='index'>
              <v-hover>
                <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`">
                  <walletCard no-padding class="my-2 wallet-card remove-margin" @click="selectWallet(wallet)"
                    :wallet="wallet" clickable />
                </v-card>
              </v-hover>
            </div>
          </v-row>

          <div v-show="selected === 1">
            <v-form ref="externForm" v-model="valid">
              <v-text-field v-if="selected === 1" clearable prepend-icon="person" label="To (Wallet Address)"
                v-model='externAddress' :rules="toRules" autofocus />
              <v-text-field v-else clearable prepend-icon="person" label="To (Wallet Address)" v-model='externAddress'
                :rules="toRules" />
            </v-form>

            <v-row justify="center">
              <v-btn style="width: 90%;" :color="$route.meta.accent" @click="selectWallet({address: externAddress})"
                :disabled="!valid">
                Use address
              </v-btn>
            </v-row>
          </div>
        </v-col>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>