<div class="fill-height dev-view">
  <v-tabs grow background-color="indigo" dark>
    <v-tab>
      Data
    </v-tab>
    <v-tab-item>
      <v-card>
        <p class="display-1 text--primary">
          main data
        </p>
        <v-card-text>
          <ul>
            <li>appSeedPhrase : <br />{{appSeedPhrase}}</li>
            <li>devSeed: <br /><pre>{{debugSeed}}</pre></li>
            <li>
              threeBotName = {{threeBotName}}
            </li>
          </ul>
        </v-card-text>
      </v-card>
      <v-card>
        <rawDisplayer title="accounts data" :value="accounts" />
      </v-card>
      <v-card flat tile>
        <rawDisplayer title="pkid app accounts data" :value="pkidApp" />
      </v-card>
      <v-card flat tile>
        <rawDisplayer title="pkid imported accounts data" :value="pkidImported" />
      </v-card>
    </v-tab-item>
    <v-tab>
      Actions
    </v-tab>
    <v-tab-item>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            Restart Wallet
          </p>
          <p>Restarts the 3bot_connect wallet </p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="Restart">
            restart
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            Reset app wallets
          </p>
          <p>Resets app wallets</p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="ResetAppWallets">
            Reset
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-title>
          Retry migration
        </v-card-title>
        <v-card-text>
          <v-col>
            <v-row v-for="account in accounts" :key=account.id>
              {{account.name}}
              <v-spacer></v-spacer>
              <v-btn x-small @click="retryMigrate(account)">Retry</v-btn>
            </v-row>
          </v-col>
        </v-card-text>
      </v-card>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            Remove imported wallets
          </p>
        </v-card-text>
        <v-card-actions>
          <v-btn text @click="RemoveImportedAccounts">
            Remove
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            app wallet creation
          </p>
          <p>create app wallet <small>(with index)</small></p>
          <div class="text--primary">
            <v-text-field disabled label="index (not yet implemented, auto index will be used)" type="number">
            </v-text-field>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="createWallet">
            create Wallet
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-text>
          <p class="display-1 text--primary">
            Show error page
          </p>
          <p>errorScreen</p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="errorScreen">
            Error
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-tab-item>
  </v-tabs>
</div>