<div class="fill-height dev-view">
  <v-tabs grow background-color="indigo" dark>
    <v-tab>
      Logs
    </v-tab>
    <v-tab-item>
      <v-card>
        <p class="display-1 text--primary">
          application logs
        </p>
        <v-btn @click="copyLogs">
          copy logs
        </v-btn>
      </v-card>

      <v-card flat tile>
        <code ref="logcard" style="width: 98vw;">{{logs}}</code>
      </v-card>
    </v-tab-item>
    <v-tab>
      Data
    </v-tab>
    <v-tab-item>
      <v-card>
        <p class="display-1 text--primary">
          main data
        </p>
        <v-card-text>
          <ul>
            <li>appSeedPhrase : <br />{{appSeedPhrase}}</li>
            <li>devSeed: <br />{{debugSeed}}</li>
            <li>
              threeBotName = {{threeBotName}}
            </li>
          </ul>
        </v-card-text>
      </v-card>
      <v-card>
        <rawDisplayer title="accounts data" :value="accounts" />
      </v-card>
      <v-card flat tile>
        <rawDisplayer title="pkid app accounts data" :value="pkidApp" />
      </v-card>
      <v-card flat tile>
        <rawDisplayer title="pkid imported accounts data" :value="pkidImported" />
      </v-card>
    </v-tab-item>
    <v-tab>
      Actions
    </v-tab>
    <v-tab-item>
      <v-card>
        <v-card-title>Restart wallet</v-card-title>
        <v-card-text>
          <p>Restarts the 3bot_connect wallet </p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="Restart">
            restart
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-title>
          Retry migration
        </v-card-title>
        <v-card-text>
          <p>Retry the conversion from TFChain to Stellar network</p>
          <v-col>
            <v-row v-for="account in accounts" :key=account.id>
              {{account.name}}
              <v-spacer></v-spacer>
              <v-btn x-small dark text color="deep-purple" @click="retryMigrate(account)">Retry</v-btn>
            </v-row>
          </v-col>
        </v-card-text>
      </v-card>
      <addTrustlineCard/>
      <v-card>
        <v-card-title>Reset app wallets</v-card-title>
        <v-card-text>
          <p>Resets app wallets</p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="ResetAppWallets">
            Reset
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-title>
          Remove imported wallets
        </v-card-title>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="RemoveImportedAccounts">
            Remove
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card>
        <v-card-title>
          Show error page
        </v-card-title>
        <v-card-text>
          <p>Show the error screen</p>
        </v-card-text>
        <v-card-actions>
          <v-btn dark text color="deep-purple" @click="errorScreen">
            Error
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-tab-item>
  </v-tabs>
</div>
