<section class="bottom-nav">
  <v-bottom-navigation app fixed value="true" v-model="bottomnav" background-color="primary">
    <v-btn dark :to='{name: "home"}'>
      <v-icon class="white--text">fas fa-wallet</v-icon>
    </v-btn>
    <v-btn dark :to='{name: $route.meta.transfer}'>
      <v-icon class="white--text">swap_horiz</v-icon>
    </v-btn>
    <!-- :to='{name: "investments"}' -->
    <v-btn dark text disabled>
      <v-icon class="white--text">fas fa-piggy-bank</v-icon>
    </v-btn>
  </v-bottom-navigation>
  <v-fab-transition>
    <v-btn fixed dark fab bottom large class="center" :color="$route.meta.accent ? $route.meta.accent : 'accent'" @click='handleCta'>
      <v-icon v-if="$route.query.tab === 'receive'" :disabled="submitDisabled" color="white">fas fa-qrcode</v-icon>
      <v-icon v-else-if="$route.name==='transfer' || $route.name==='transfer investments'" :disabled="submitDisabled" color="white">check</v-icon>
      <v-icon v-else>swap_horiz</v-icon>
    </v-btn>
  </v-fab-transition>
</section>