<section class="bottom-nav">
  <v-bottom-nav app fixed value="true" :active.sync="bottomnav" color="primary">
    <v-btn flat dark :to='{name: "home"}'>
      <v-icon class="white--text">fas fa-wallet</v-icon>
    </v-btn>
    <v-btn flat dark :to='{name: $route.meta.transfer}'>
      <v-icon class="white--text">swap_horiz</v-icon>
    </v-btn>
    <v-btn flat dark :to='{name: "investments"}'>
      <v-icon class="white--text">fas fa-piggy-bank</v-icon>
    </v-btn>
  </v-bottom-nav>
  <v-btn fixed dark fab bottom large class="center" color="accent" @click='handleCta'>
    <v-icon v-if="$route.name==='transfer' || $route.name==='transfer investments'" :disabled="submitDisabled" color="white">check</v-icon>
    <v-icon v-else>swap_horiz</v-icon>
  </v-btn>
</section>