.wallet-selector {
  .horizontal {
    white-space: nowrap;
    overflow: auto;
    &.noclip {
      margin: 0 -20px;
      .wallet-card {
        &:first-of-type {
          padding-left: 10px;
        }
        &:last-of-type {
          padding-right: 20px;
        }
      }
    }
    .wallet-card {
      display: inline-block;
      width: 316px;
    }
  }
}