<div>
  <v-list-item class="item" v-bind="$attrs" v-on="$listeners">
    <v-list-item-content>
      <v-list-item-subtitle class="text--primary">
        {{ item.id }}
      </v-list-item-subtitle>
      <v-list-item-subtitle v-if="item.unlockTransaction" class="date"  style="overflow: visible;">
        {{ item.unlockTransaction.timeBounds.minTime | formatUnlockTime}}
      </v-list-item-subtitle>
      <v-list-item-subtitle class="amount"  style="overflow: visible;">
        {{ item.balance.balance | formatBalance }}
        <sup class="currency font-weight-light">
          {{ item.balance.asset_code }}
        </sup>
      </v-list-item-subtitle>
    </v-list-item-content>
  </v-list-item>
  <v-divider />
</div>