<section class="home fill-height">
  <v-layout column fill-height pa-4>
    <div class="content">
      <draggable v-model="accounts" group="accounts" @start="drag=true" @end="drag=false" :options="{delay:400}">
        <AccountCard class="px-1 mb-4" clickable v-for="(account, index) in accounts" :key="index" :account="account"
          @click="seeDetails(account)" humanReadable />
      </draggable>
      <SkeletonAccountCard :name="name" v-for="name in actualAccountThombstones" :key="name" />
    </div>
    <div v-if="isLoadingWallets && !isAppLoading" class="fill-height">
      <v-layout justify-center align-center fill-height column>
        <v-progress-circular :size="70" :width="10" :color="$route.meta.accent" indeterminate />
        <p class="pt-3">
          Loading wallets...
        </p>
      </v-layout>
    </div>
  </v-layout>
</section>