<section class="home fill-height">
    <v-layout column fill-height>
        <div class="content" v-if="wallets.length">
            <WalletCard no-padding
                        class="my-2"
                        clickable
                        v-for="(wallet, index) in wallets"
                        :key='index'
                        :wallet="wallet"
                        @click="seeDetails(wallet)"
            />
        </div>
        <div v-if="!wallets.length" class='fill-height'>
            <v-layout
                    justify-center
                    align-center
                    fill-height
                    column
            >
                <v-progress-circular
                        :size="70"
                        :width="10"
                        :color="$route.meta.accent"
                        indeterminate
                />
                <p class="pt-3">
                    Loading wallets...
                </p>
            </v-layout>
        </div>
    </v-layout>

</section>