<section class="home fill-height">
  <v-layout column fill-height>
    <div class="content">
            <AccountCard
                    class="px-1 mb-2"
                    clickable
                    v-for="(account, index) in accounts"
                    :key="index"
                    :account="account"
                    @click="seeDetails(account)"
            />
    </div>
    <div v-if="isLoadingWallets" class="fill-height">
      <v-layout justify-center align-center fill-height column>
        <v-progress-circular
          :size="70"
          :width="10"
          :color="$route.meta.accent"
          indeterminate
        />
        <p class="pt-3">
          Loading wallets...
        </p>
      </v-layout>
    </div>
  </v-layout>
</section>
