<section class="edit-wallet">
  <v-dialog v-model="show" fullscreen>
    <v-card class="white" style="height:100%">
      <v-toolbar dark color="primary">
        <v-toolbar-title class="ml-4 text-capitalize">Edit wallet </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon text @click="$emit('ctaClicked'); newWalletName = null">
          <v-icon :color="$route.meta.accent">
            close
          </v-icon>
        </v-btn>
      </v-toolbar>
      <v-card-text class="px-0">

        <v-text-field disabled v-model="oldWalletName" class="red--text" label="Old wallet name"></v-text-field>


        <v-text-field :error-messages="walletNameErrors" @input="walletNameErrors = []" v-model="newWalletName"
          class="red--text" label="New wallet name"></v-text-field>


        <div class="my-2 right">
          <v-btn color="accent" dark @click="addWallet">Change wallet name</v-btn>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</section>