<section class="history fill-height">
  <v-layout column fill-height>
    <!-- <walletSelector class="mb-0" ref="selector" no-clip @onWalletSelected='selectWallet' :wallets="computedWallets"
      :selected="$route.params.wallet" /> -->
      
      <walletCard  :type="selectedWallet.currency" class=" mb-2 " clickable 
        :wallet="selectedWallet" :displayAttributes="false" />

    <v-flex class="pa-0" style="overflow: visible">
      <div v-for="(gt, date) in groupedTransactions" :key="date">
          <p color="primary" class="mb-1 ml-4">{{getDayName(date)}} {{getDay(date)}} {{getMonth(date)}}</p>

          <historyCard v-for="(transaction, index) in gt" :key="index"
            :transaction="transaction" />
      </div>
    </v-flex>
  </v-layout>
</section>
